/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');

/* EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--colour-bg-1: #EEEEEE;
	--colour-fg-1: #111111;
	--colour-fg-2: #222222;
}

$font-1: "Noto Sans";
$font-2: "EB Garamond";

.darktheme {
	--colour-bg-1: #151515;
	--colour-fg-1: #DDDDDD;
	--colour-fg-2: #BBBBBB;
}

body {
	font-family: $font-2;
	padding: 0;
	margin: 0;
	background-color: var(--colour-bg-1);
}

header {
	text-align: center;
	padding: 0.25rem;
	margin: auto;
	position: sticky;
	top: 0;
	background-color: var(--colour-bg-1);	
	border-bottom: 0.15rem solid var(--colour-fg-2);
	
	& > * {
		display: inline-block;
		margin: 0.25rem 1.5rem;
		vertical-align: middle;
	}
	
	& > input {
		font-family: $font-1;
		font-weight: normal;
		font-size: 1rem;
		background: none;
		border-radius: 2rem;
		border: none;
		outline-width: 0.2rem;
		outline-style: solid;
		padding: 0.5rem;
		color: var(--colour-fg-1);
		
		&::placeholder {
			color: var(--colour-fg-2);
		}
	}
	
	& > button {
		all: unset;
		cursor: pointer;
		font-family: $font-1;
		font-weight: bold;
		font-size: 3.7rem;
		vertical-align: middle;
		color: var(--colour-fg-1);
	}
}

h1 {
	font-size: 3rem;
	color: var(--colour-fg-1);
}

h2 {
	font-size: 3.5rem;
	font-family: $font-1;
	font-weight: 900;
	color: var(--colour-fg-1);
}

h3 {
	font-size: 2rem;
	font-family: $font-1;
	font-weight: bold;
	color: var(--colour-fg-1);
}

a {
	text-decoration: none;
	color: var(--colour-fg-1);
	
	&:hover {
		text-decoration: underline;
	}
}

p {
	font-size: 1.5rem;
	color: var(--colour-fg-2);
}

#article-list {
	color: var(--colour-fg-1);
	
	& > li {
		padding: 0.25rem;
		font-size: 1.5rem;
		font-family: $font-1;
		font-weight: bold;
	}
}

article {
	max-width: 50rem;
	margin: auto;
	padding: 1rem;
}

